*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: lightblue;
}
#left {
    background-color: darkcyan;
    float: left;
    width: 400px;
    min-height: 100vh;
}
#right {
    background-color: blueviolet;
    float: right;
    width: 400px;
    min-height: 100vh;
}